<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<title>ECSHOP 管理中心 - 商品列表 </title>
	<link rel="stylesheet" href="/css/index4.css" />
</head>
<script src="/js/jquery-1.11.1.min.js"></script>
<body>
	<h1>
		<span class="addShop">
			<a href="http://localhost:8080/index5">添加新商品</a>
		</span>
		<span class="manag sim">
			<a href="javascript:;">ECSHOP 管理中心</a>
		</span>
		<span class="sim"> - 商品列表</span>
		<span class="help">
			<a href="javascript:;" title="商品列表帮助文档">
				<img src="/img/jnsy.png" alt="" />
			</a>
		</span>
	</h1>
	<!--<form action="">-->
		<input type="text" name="keyword" size="15" class="keyword" />
		<input type="submit" value="搜索" class="button" />
		<div class="list-div">
			<table cellpadding="3" cellspacing="0" border="1" class="table_goods">
				<tbody>
					<tr class="goodstr">
						<th class="left">
							<input type="checkbox" id="ch" />
							<a href="javascript:;">编号</a>
							<img src="/img/sort_desc.gif" alt="" />
						</th>
						<th>
							<a href="javascript:;">商品名称</a>
						</th>
						<th>
							<a href="javascript:;">货号</a>
						</th>
						<th>
							<a href="javascript:;">价格</a>
						</th>
						<th>
							<a href="javascript:;">上架</a>
						</th>
						<th>
							<a href="javascript:;">精品</a>
						</th>
						<th>
							<a href="javascript:;">新品</a>
						</th>
						<th>
							<a href="javascript:;">热销</a>
						</th>
						<th>
							<a href="javascript:;">推荐排序</a>
						</th>
						<th>
							<a href="javascript:;">库存</a>
						</th>
						<th>
							<a href="javascript:;">虚拟销量</a>
						</th>
						<th>
							<a href="javascript:;">操作</a>
						</th>
					</tr>
					<% for(var i=0;i<list.length;i++){ %>
					<tr class="com">
						<td class="left">
							<input type="checkbox" name="check" id="check" value="" />
							<span><%= list[i].identifie %></span>
						</td>
						<td class="first-cell">
							<span><%= list[i].goods_name %></span>
						</td>
						<td class="cen">
							<span><%= list[i].goods_sn %></span>
						</td>
						<td class="cen">
							<span><%= list[i].price %></span>
						</td>
						<td clas="cen">
							<img src="/img/no.gif" />
						</td>
						<td clas="cen">
							<img src="/img/yes.gif" />
						</td>
						<td clas="cen">
							<img src="/img/no.gif" />
						</td>
						<td clas="cen">
							<img src="/img/yes.gif" />
						</td>
						<td class="cen">
							<span><%= list[i].market_price %></span>
						</td>
						<td class="cen">
							<span><%= list[i].goods_stock %></span>
						</td>
						<td class="cen">
							<span><%= list[i].virtual_sales %></span>
						</td>
						<td class="cen">
							<a href="#" title="查看">
								<img width="21px" height="21px" src="/img/icon_view.gif" alt="" />
							</a>
							<a href="#" title="编辑" class= "updateGoods">
								<img width="21px" height="21px" src="/img/icon_edit.gif" alt="" />
							</a>
							<a href="#" title="复制">
								<img width="21px" height="21px" src="/img/icon_copy.gif" alt="" />
							</a>
							<a href="#" title="回收站" class="removeGoods">
								<img width="21px" height="21px" src="/img/icon_trash.gif" alt="" />
							</a>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
			<table id="page-tale" cellspacing="0">
					<tr>
						<td>
							<div id="page-1">
								总计<span id="totalRecords"></span>个记录分为<span id="totalPages"></span>页当前第<span id="pageCurrent"></span>页，每页<input type="text" size="3" id="pageSize" value="15" /> | 
								<span id="page-link">
									<a href="/index4?pageNo=1>&count=3">第一页</a>
									<% if(pageNo > 1) {%>
										<a href="/index4?pageNo=<%= pageNo-1 %>&count=<%= count %>" id="uppage">上一页</a>
									<% } %>	
									<a href="/index4?pageNo=<%= pageNo+1 %>&count=<%= count %>">下一页</a>
									<a href="#" id= "downpage">最末页</a>
									<select name="" id="gotoPage">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
									</select>
								</span>
							</div>
						</td>
					</tr>
			</table>
		</div>
		<div>
			<select name="type" id="selAction">
				<option>请选择...</option>
				<option value="trash">回收站</option>
				<option value="on">上架</option>
				<option value="not-on">下架</option>
				<option value="best">精品</option>
				<option value="not-best">取消精品</option>
				<option value="new">新品</option>
				<option value="not-new">取消新品</option>
				<option value="hot">热销</option>
				<option value="not-hot">取消热销</option>
				<option value="move-to">转移到分类</option>
			</select>
			<input type="submit" value="确定" class="button" />
		</div>
	<!--</form>-->
	<div class="footer">
		共执行 7 个查询，用时 0.022329 秒，Gzip 已禁用，内存占用 3.574 MB<br>
		版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
	</div>
</body>
</html>
<script>
	
	var Remove = document.getElementsByClassName("removeGoods");
	var Update = document.getElementsByClassName("updateGoods");
//	

	//console.log( Remove.length );
	for( var i = 0 ; i < Remove.length ; i ++ ){
		//console.log( Remove[i] );
		Remove[i].onclick = function(){
			var thisName = this.parentNode.parentNode.firstElementChild.nextElementSibling.firstElementChild.innerHTML;
			var thisname = this.parentNode.parentNode.parentNode;
			//thisName 商品名称
			//console.log( thisname );
			var that = this;
			$.ajax({
				type : "post",
				url : "/removegoods",
				data : 	{
							goodId: thisName,
						},
				success : function(res){
					alert( res.message );
					if( res.code == -444 ){
						thisname.removeChild(that.parentNode.parentNode)
					}
				}
			})
		}
	}
	
</script>
<script>
	var indexPage = 1;
	var pageIndex = 0;
	
	var oTotalRecords = document.getElementById("totalRecords");//记录
	var oTotalPages = document.getElementById("totalPages");//分为几页
	var oPageCurrent = document.getElementById("pageCurrent");//第几页
	oPageCurrent.innerHTML = indexPage;
	//模糊查询
	var oButton = document.getElementsByClassName("button")[0];
	var oKeyword = document.getElementsByClassName("keyword")[0];
	oButton.onclick = function(){
		$(".goodstr").nextAll().remove();
		var oKeywordvalue = oKeyword.value;
		$.ajax({
			type : "get",
			url  : "/list",
			async: true,
			data : {
					condition:oKeywordvalue
			},
			success:function(res){
				console.log( res );
				
				var reslength = res.data.length;

				for( let i = 0 ; i < reslength ;i ++ ){
					var goods_name = res.data[i].goods_name;
					var	goods_sn = res.data[i].goods_sn;
					var	price = res.data[i].price;
					var	virtual_sales = res.data[i].virtual_sales;
					var	market_price = res.data[i].market_price;
					var	goods_stock = res.data[i].goods_stock;
					var	identifie = res.data[i].identifie;
					var	img = res.data[i].img;
					var oBr = `<tr>
									<td class="left">
										<input type="checkbox" name="check" id="check" value="" />
										<span>${identifie}</span>
									</td>
									<td class="first-cell">
										<span>${goods_name}</span>
									</td>
									<td class="cen">
										<span>${goods_sn}</span>
									</td>
									<td class="cen">
										<span>${price}</span>
									</td>
									<td clas="cen">
										<img src="/img/no.gif" />
									</td>
									<td clas="cen">
										<img src="/img/yes.gif" />
									</td>
									<td clas="cen">
										<img src="/img/no.gif" />
									</td>
									<td clas="cen">
										<img src="/img/yes.gif" />
									</td>
									<td class="cen">
										<span>${market_price}</span>
									</td>
									<td class="cen">
										<span>${goods_stock}</span>
									</td>
									<td class="cen">
										<span>${virtual_sales}</span>
									</td>
									<td class="cen">
										<a href="#" title="查看">
											<img width="21px" height="21px" src="/img/icon_view.gif" alt="" />
										</a>
										<a href="#" title="编辑" class= "updateGoods">
											<img width="21px" height="21px" src="/img/icon_edit.gif" alt="" />
										</a>
										<a href="#" title="复制">
											<img width="21px" height="21px" src="/img/icon_copy.gif" alt="" />
										</a>
										<a href="#" title="回收站" class="removeGoods">
											<img width="21px" height="21px" src="/img/icon_trash.gif" alt="" />
										</a>
									</td>
								</tr>`;
								
								$( oBr ).appendTo($(".table_goods"));
								console.log( reslength );
								oTotalRecords.innerHTML = reslength;
								oTotalPages.innerHTML = parseInt( Math.ceil( reslength/5 ) );
				}
			}
		});
	}
</script>

